#head {
	width: 100%;
}

#head > h2 {
	font-size: 20px;
}

#head > p {
	font-weight: bold;
	font-style: italic;
}

#head > img {
	width: 15%;
	height: auto;
}

#interview > img {
	width: 80%;
	height: auto;
}

.center {
	text-align: center;
}

img.center {
	display: block;
	margin: auto;
}

.author {
	font-weight: bold;
}

.empty-star:before {
	content: "\2606";
}

.full-star:before {
	content: "\2605";
	color: yellow;
}